<div class="cs-component-checkbox">
  <input
    type="checkbox"
    value={{@value}}
    checked={{@checked}}
    class="cs-component-checkbox--input {{if @required "required"}}"
    id={{concat "checkbox-input-" this.elementId}}
    required={{@required}}
    onchange={{action this.handleInput}}
    disabled={{@disabled}}
  >

  <label
    for={{concat "checkbox-input-" this.elementId}}
    class="cs-component-checkbox--label {{if @checked "checked"}}"
  >
    <span>{{@label}}</span>
  </label>

  <div
    class="cs-component-checkbox--validation {{if (not this.validationMessage) "hidden"}} {{if this.invalid "invalid"}}"
    data-test-cs-component-checkbox-validation
  >
    {{this.validationMessage}}
  </div>
</div>