<div class="cs-component-choose-many {{if this.checked "checked"}}" data-test-cs-component={{this.dataTestName}}>
  <fieldset>
    {{#if @legend}}
      <legend class="cs-component-choose-many--legend">{{@legend}}</legend>
    {{/if}}
    <div class="cs-component-choose-many__container">
      {{#multiselect-checkboxes
          options=@choices
          selection=this.selectedItems
          tagName=""
          onchange=(action this.performActions)
          as |item isSelected|}}
        <label class="cs-component-choose-many--label {{if isSelected "checked"}}">
          {{input type="checkbox" checked=isSelected}}
          <span class="cs-component-choose-many--name" data-test-choice-value={{if item.value item.value item}}>{{if item.name item.name item}}</span>
        </label>
      {{/multiselect-checkboxes}}
    </div>
  </fieldset>
</div>