<div class="cs-component-choose-one {{if this.checked "checked"}}" data-test-cs-component={{this.dataTestName}}>
  <fieldset>
    {{#if @legend}}
      <legend class="cs-component-choose-one--legend">{{@legend}}</legend>
    {{/if}}
    <div class="cs-component-choose-one__container">
      {{#each @choices as |choice|}}
        {{#with (hash
                  value=(if choice.value choice.value choice)
                  name=(if choice.name choice.name choice)
                ) as |item|}}
          {{#radio-button
            value=item.value
            groupValue=this.selectedItem
            classNames="cs-component-choose-one--label"
            changed=(action this.performActions)
          }}
            <span class="cs-component-choose-one--name" data-test-choice-value={{item.value}}>{{item.name}}</span>
          {{/radio-button}}
        {{/with}}
      {{/each}}
    </div>
  </fieldset>
</div>