<button
  class="cs-component-cta {{@variant}} {{if @theme (concat @theme "-cta")}} {{if @disabled "disabled"}}"
  disabled={{@disabled}}
  onclick={{action this.handleClick}}
  data-test-cs-component-cta={{@variant}}
  ...attributes
>
  <span class="button-text">
    {{#if @label}}
      {{@label}}
    {{else}}
      {{yield}}
    {{/if}}
  </span>
</button>