<button
  {{on "click" this.handleClick}}
  class="cs-component-cta {{@variant}} {{if @theme (concat @theme "-cta")}} {{if @disabled "disabled"}}"
  disabled={{@disabled}}
  data-test-cs-component-cta={{or @variant "default"}}
  ...attributes
>
  {{#if @label}}
    {{@label}}
  {{else}}
    {{yield}}
  {{/if}}
</button>