<button
  {{on "click" this.handleClick}}
  class="cs-component-cta {{@variant}} {{if @theme (concat @theme "-cta")}} {{if this.disabled "disabled"}} {{if @isLoading "loading"}}"
  disabled={{this.disabled}}
  data-test-cs-component-cta={{this.variant}}
  ...attributes
>
  {{#if @label}}
    {{@label}}
  {{else}}
    {{yield}}
  {{/if}}
</button>