{{#if (eq @mode "view")}}
  <TextView @showLabelInViewMode={{@showLabelInViewMode}} @label={{@label}} @value={{this.value}} />
{{else}}
  <div class="cs-component-date {{@theme}}" data-test-cs-component={{this.dataTestName}}>
    <PowerDatepicker
      @renderInPlace="true"
      @selected={{this.selected}}
      @onSelect={{action (mut this.selected) value="date"}}
      @center={{this.center}}
      @onCenterChange={{action (mut this.center) value="date"}} as |calendar|>
      {{#calendar.trigger tabindex="-1"}}
        {{!-- User can pick a date from the calendar view or type it in. --}}
        <TextField
          @dateComponent="date-field/input"
          @type="text"
          @label={{@label}}
          @inputId={{@id}}
          @class="cs-component-date--input"
          @value={{if this.selected this.selectedDate this.value}}
          @onblur={{action this.handleInput}}
          @onchange={{action this.handleInput}}
          @oninput={{action this.handleInput}}
          @required={{@required}}
          @disabled={{@disabled}}
          @autocomplete="off"
          @validationMessage={{this.errorMessage}}
          @invalid={{this.invalid}}
          @inputmode="numeric"
          @dataTestName="date-picker"
          @theme={{@theme}}
          @animatedLabel={{@animatedLabel}}
        />
      {{/calendar.trigger}}

      {{#calendar.content class="cs-component-calendar"}}
        {{!-- Navigation arrows allow scrolling by month and year.
              User can also use the dropdown to pick month and year. --}}
        <nav class="cs-component-calendar--nav ember-power-calendar-nav">
          <button
            class="ember-power-calendar-nav-control"
            onclick={{action calendar.actions.moveCenter -12 "month"}}
            aria-label="Previous year"
            data-test-nav-arrow="year-backwards">
            «
          </button>
          <button
            class="ember-power-calendar-nav-control"
            onclick={{action calendar.actions.moveCenter -1 "month"}}
            aria-label="Previous month"
            data-test-nav-arrow="month-backwards">
            ‹
          </button>

          <div class="cs-component-calendar--nav-title ember-power-calendar-nav-title">
            <div id="months-nav-{{this.elementId}}" class="cs-component-calendar--nav-dropdown" data-test-cs-component-calendar-nav-months>
              <PowerSelect
                @ariaLabel="Month dropdown"
                @renderInPlace="true"
                @options={{this.months}}
                @selected={{moment-format calendar.center "MMMM"}}
                @onchange={{action "changeCenter" "month" calendar}} as |month|>
                {{month}}
              </PowerSelect>
            </div>
            <div id="years-nav-{{this.elementId}}" class="cs-component-calendar--nav-dropdown" data-test-cs-component-calendar-nav-years>
              <PowerSelect
                @ariaLabel="Year dropdown"
                @renderInPlace="true"
                @options={{this.years}}
                @selected={{moment-format calendar.center "YYYY"}}
                @onchange={{action "changeCenter" "year" calendar}} as |year|>
                {{year}}
              </PowerSelect>
            </div>
          </div>

          <button
            class="ember-power-calendar-nav-control"
            onclick={{action calendar.actions.moveCenter 1 "month"}}
            aria-label="Next month"
            data-test-nav-arrow="month-forwards">
            ›
          </button>
          <button
            class="ember-power-calendar-nav-control"
            onclick={{action calendar.actions.moveCenter 12 "month"}}
            aria-label="Next year"
            data-test-nav-arrow="year-forwards">
            »
          </button>
        </nav>
        {{calendar.days}}
      {{/calendar.content}}
    </PowerDatepicker>
  </div>

  {{!-- TODO: Make it accept min/max date selection --}}
{{/if}}