{{#if (eq @mode "view")}}
  <div data-test-cs-component-view-field-value class="cs-component-dropdown--view-value">
    {{#if @showLabelInViewMode}}
      <div data-test-cs-component-view-label>{{@label}}</div>
    {{/if}}

    {{#if @optionComponent}}
      {{component @optionComponent option=this.selected}}
    {{else}}
      {{this.selected.name}}
    {{/if}}
  </div>
{{else}}
  <div
    class="cs-dropdown
      {{if @theme (concat @theme "-dropdown") "cs-component-dropdown"}}
      {{if @multiple "multiple"}}
      {{if @optionComponent "with-customized-options"}}
      {{if @required "required"}}
      {{if @disabled "disabled"}}
    "
    data-test-cs-component={{this.dataTestName}}
    {{did-update this.updateSelected @selected}}
    ...attributes
  >
    {{#if @required}}
      <span class="cs-dropdown--required">required</span>
    {{/if}}
    {{#if @outerLabel}}
      <label class="cs-dropdown--label">{{@outerLabel}}</label>
    {{/if}}
    {{#if @searchAction}}
      {{#if @multiple}}
        <PowerSelectMultiple
          @options={{@options}}
          @onchange={{action this.handleChange}}
          @selected={{this.selected}}
          @search={{action @searchAction}}
          @searchField={{this.searchField}}
          @renderInPlace={{this.renderInPlace}}
          @onfocus={{action (mut this.isFocused) true}}
          @onblur={{action (mut this.isFocused) false}}
          @onopen={{action (mut this.isOpen) true}}
          @onclose={{action (mut this.isOpen) false}}
          @searchEnabled={{this.searchEnabled}}
          @ariaLabel={{this.label}}
          @placeholder={{this.label}}
          @disabled={{@disabled}}
        as |option|>
          {{get option this.searchField}}
        </PowerSelectMultiple>
      {{else}}
        <PowerSelect
          @options={{@options}}
          @onchange={{action this.handleChange}}
          @selected={{this.selected}}
          @search={{action @searchAction}}
          @searchField={{this.searchField}}
          @renderInPlace={{this.renderInPlace}}
          @onfocus={{action (mut this.isFocused) true}}
          @onblur={{action (mut this.isFocused) false}}
          @onopen={{action (mut this.isOpen) true}}
          @onclose={{action (mut this.isOpen) false}}
          @searchEnabled={{this.searchEnabled}}
          @ariaLabel={{this.label}}
          @placeholder={{this.label}}
          @disabled={{@disabled}}
        as |option|>
          {{get option this.searchField}}
        </PowerSelect>
      {{/if}}
    {{else}}
      {{#if @multiple}}
        <PowerSelectMultiple
          @options={{@options}}
          @onchange={{action this.handleChange}}
          @selected={{this.selected}}
          @searchField={{this.searchField}}
          @renderInPlace={{this.renderInPlace}}
          @onfocus={{action (mut this.isFocused) true}}
          @onblur={{action (mut this.isFocused) false}}
          @onopen={{action (mut this.isOpen) true}}
          @onclose={{action (mut this.isOpen) false}}
          @searchEnabled={{this.searchEnabled}}
          @ariaLabel={{this.label}}
          @placeholder={{this.label}}
          @disabled={{@disabled}}
        as |option|>
          {{get option this.searchField}}
        </PowerSelectMultiple>
      {{else}}
        <PowerSelect
          @options={{@options}}
          @onchange={{action this.handleChange}}
          @selected={{this.selected}}
          @searchField={{this.searchField}}
          @renderInPlace={{this.renderInPlace}}
          @onfocus={{action (mut this.isFocused) true}}
          @onblur={{action (mut this.isFocused) false}}
          @onopen={{action (mut this.isOpen) true}}
          @onclose={{action (mut this.isOpen) false}}
          @searchEnabled={{this.searchEnabled}}
          @ariaLabel={{this.label}}
          @placeholder={{this.label}}
          @disabled={{@disabled}}
        as |option|>
          {{#if @optionComponent}}
            {{component @optionComponent option=option}}
          {{else if (has-block)}}
            {{yield option}}
          {{else}}
            {{get option this.searchField}}
          {{/if}}
        </PowerSelect>
      {{/if}}
    {{/if}}
  </div>
{{/if}}