{{#if (eq @mode "view")}}
  <div data-test-cs-component-view-field-value class="cs-component-dropdown--view-value">
    {{#if @showLabelInViewMode}}
      <div data-test-cs-component-view-label>{{@label}}</div>
    {{/if}}

    {{#if @optionComponent}}
      {{component @optionComponent option=this.selected}}
    {{else}}
      {{this.selected.name}}
    {{/if}}
  </div>
{{else}}
  <div
    class="{{if @multiple "cs-component-dropdown--multiple" "cs-component-dropdown"}} {{if (has-block) "cs-component-dropdown--with-customized-options"}} {{if this.isOpen "is-open"}} {{@theme}}"
    data-test-cs-component={{this.dataTestName}}
  >
    <div class="cs-component-dropdown__container">
      {{#if @searchAction}}
        {{#if @multiple}}
          {{#power-select-multiple
            options=@options
            onchange=(or @handleChange (action this.changeAction))
            selected=this.selected
            search=(action @searchAction)
            searchField=@searchField
            renderInPlace=true
            onfocus=(action (mut this.isFocused) true)
            onblur=(action (mut this.isFocused) false)
            onopen=(action (mut this.isOpen) true)
            onclose=(action (mut this.isOpen) false)
            searchEnabled=this.searchEnabled
            ariaLabel=this.label
            disabled=@disabled
          as |option|}}
            {{get option @searchField}}
          {{/power-select-multiple}}
        {{else}}
          {{#power-select
            options=@options
            onchange=(or @handleChange (action this.changeAction))
            selected=this.selected
            search=(action @searchAction)
            searchField=@searchField
            renderInPlace=true
            onfocus=(action (mut this.isFocused) true)
            onblur=(action (mut this.isFocused) false)
            onopen=(action (mut this.isOpen) true)
            onclose=(action (mut this.isOpen) false)
            searchEnabled=this.searchEnabled
            allowClear=this.allowClear
            ariaLabel=this.label
            disabled=@disabled
          as |option|}}
            {{get option @searchField}}
          {{/power-select}}
        {{/if}}
      {{else}}
        {{#if @multiple}}
          {{#power-select-multiple
            options=@options
            onchange=(or @handleChange (action this.changeAction))
            selected=this.selected
            searchField=@searchField
            renderInPlace=true
            onfocus=(action (mut this.isFocused) true)
            onblur=(action (mut this.isFocused) false)
            onopen=(action (mut this.isOpen) true)
            onclose=(action (mut this.isOpen) false)
            searchEnabled=this.searchEnabled
            ariaLabel=this.label
            disabled=@disabled
          as |option|}}
            {{get option @searchField}}
          {{/power-select-multiple}}
        {{else}}
          {{#power-select
            options=@options
            onchange=(or @handleChange (action this.changeAction))
            selected=this.selected
            searchField=@searchField
            renderInPlace=true
            onfocus=(action (mut this.isFocused) true)
            onblur=(action (mut this.isFocused) false)
            onopen=(action (mut this.isOpen) true)
            onclose=(action (mut this.isOpen) false)
            searchEnabled=this.searchEnabled
            allowClear=this.allowClear
            ariaLabel=this.label
            disabled=@disabled
          as |option|}}
            {{#if @optionComponent}}
              {{component @optionComponent option=option}}
            {{else if (has-block)}}
              {{yield option}}
            {{else}}
              {{get option @searchField}}
            {{/if}}
          {{/power-select}}
        {{/if}}
      {{/if}}
      <label
        class="cs-component-dropdown--label {{if this.selected "with-option-selected"}} {{if (or this.isOpen this.isFocused) "is-open"}} {{@theme}}"
        data-test-cs-component-label={{this.dataTestName}}
      >
        {{this.label}}
      </label>
    </div>
  </div>
{{/if}}

{{!-- TODO: Optional label and validation messages --}}