<div class="cs-component-file-upload-dialog" data-test-cs-component-file-upload-dialog>
  <FileDropzone @class="cs-component-file-upload-dialog--prompt" @name="file" as |dropzone|>
    {{#if dropzone.active}}
      <div class="cs-component-file-upload-dialog--dropzone">
        <h4>Drop to upload</h4>
      </div>
    {{/if}}
    {{#if this.files.length}}
      {{#each this.files as |file|}}
        <div class="cs-component-file-upload-dialog--file" data-test-cs-component-file>
          <div class="cs-component-file-upload-dialog--file-thumbnail"></div>
          <div class="cs-component-file-upload-dialog--file-details">
            <h4>{{file.name}}</h4>
            <p class="cs-component-file-upload-dialog--file-uploaded">
              File uploaded {{file.uploadedDate}}
            </p>
            <p class="cs-component-file-upload-dialog--save">Save this card to library</p>
          </div>
          <div class="cs-component-file-upload-dialog--file-actions">
            <span class="cs-component-file-upload-dialog--view-file"><div class="cs-component-file-upload-dialog--view-file-icon"></div>View</span>
            <span class="cs-component-file-upload-dialog--remove-file" {{action "removeFile" file}} role="button" data-test-cs-component-remove-file>Remove</span>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="cs-component-file-upload-dialog--copy">
        <div class="cs-component-file-upload-dialog--icon"></div>
        <p class="cs-component-file-upload-dialog--accepted-formats" data-test-cs-component-file-upload-dialog-accepted-formats>{{@acceptedFormats}}</p>
        {{#if dropzone.supported}}
          <p>Drag and drop your document here</p>
          Or
        {{/if}}

        <span>
          {{#file-upload
            name="file"
            for="upload-file"
            accept=@accept
            multiple=true
            onfileadd=(action "uploadFile")}}
            Select
          {{/file-upload}}
        </span>
        Documents
      </div>
    {{/if}}
  </FileDropzone>

  <Cta @disabled={{true}}>Attach Document</Cta>
</div>