<ul class="cs-component-phone-number-fields cs-input-list">
  {{#each this.values as |value index|}}
    <li class="cs-input-list--item">
      <PhoneNumberField
        @value={{value}}
        @changeAction={{action "updateValue" index}}
        @label={{this.label}}
        @mode={{@mode}}
        @showLabelInViewMode={{@showLabelInViewMode}} />
      <button
        {{on "click" this.addComponent}}
        class="cs-input-list--add">
        Add
      </button>
    </li>
  {{/each}}
</ul>