<div class="cs-component-street-addresses">
  {{#each this.values as |value index|}}
    <div class="cs-multi-item-list" data-test-multi-item-list>
      <StreetAddress @selected={{value}} @changeAction={{action "updateValue" index}} @mode={{@mode}} @showLabelInViewMode={{@showLabelInViewMode}} />
      <button class="cs-multi-item-list--add" {{action "addComponent"}} data-test-multi-item-list-add-btn>Add</button>
    </div>
  {{/each}}
</div>