<div
  class="
    {{if (not (or @theme @animatedLabel)) "cs-input-group"}}
    {{if @theme (concat "cs-input-group--" @theme)}}
    {{if @animatedLabel "cs-component-text-field"}}
    {{if @required "required"}}
    {{@className}}
    {{@mode}}
"
  data-test-cs-component={{this.dataTestName}}
  {{did-update this.updateValue @value @validationMessage @required}}
>
  {{#if (eq @mode "view")}}
    <TextView @showLabelInViewMode={{@showLabelInViewMode}} @label={{@label}} @value={{this.value}} />
  {{else}}
    {{#unless @animatedLabel}}
      <label
        for={{or @id this.inputId}}
        class="cs-input-group--label {{if @theme (concat "cs-label--" @theme)}}"
        data-test-cs-component-label={{this.dataTestName}}
      >
        {{@label}}
      </label>
    {{/unless}}

    {{#if this.iconComponent}}
      {{component this.iconComponent
        class="cs-component-text-field--icon"
        type=this.type
        changeType=(action (mut this.type))
        data-test-cs-component-input=this.dataTestName
      }}
    {{/if}}

    {{#if (eq @inputComponent "phone-number-field/input")}}
      <PhoneInput
        @id={{or @id this.inputId}}
        @class="
          {{if (not (or @theme @animatedLabel)) "cs-input"}}
          {{if @theme (concat "cs-input--" @theme)}}
          {{if @disabled "disabled"}}
        "
        @update={{fn @update (action (mut this.value)) (action (mut this.invalid)) (action (mut this.validationMessage))}}
        @required={{this.required}}
        @number={{this.value}}
        @inputmode={{@inputmode}}
        @data-test-cs-component-input={{this.dataTestName}}
      />
    {{else if @dateComponent}}
      {{component @dateComponent
        id=(or @id this.inputId)
        type=this.type
        name=this.name
        class=(concat "cs-component-text-field--input " @theme)
        required=this.required
        disabled=this.disabled
        value=this.value
        onblur=(action @onblur)
        onchange=(action @onchange)
        oninput=(action @oninput)
        inputmode=@inputmode
        dataTestName=this.dataTestName
      }}
    {{else}}
      {{#if (eq @mode "schema")}}
        <div data-test-cs-component-schema-field-type class="cs-component-text-field--schema--field-type">{{this.fieldType}}</div>
      {{/if}}
      <Input
        @id={{or @id this.inputId}}
        @type={{this.type}}
        @name={{this.name}}
        @value={{this.value}}
        @class="
          {{if @animatedLabel "cs-component-text-field--input"}}
          {{if (not (or @theme @animatedLabel)) "cs-input"}}
          {{if @theme (concat "cs-input--" @theme)}}
          {{if @disabled "disabled"}}
          {{@mode}}
        "
        required={{this.required}}
        disabled={{or (eq @mode "schema") this.disabled}}
        autocomplete="off"
        @change={{action this.handleInput}}
        autofocus={{@autofocus}}
        inputmode={{@inputmode}}
        pattern={{@pattern}}
        min={{@min}}
        max={{@max}}
        step={{@step}}
        data-test-cs-component-input={{this.dataTestName}}
        ...attributes
      />
    {{/if}}

    {{#if @animatedLabel}}
      <label
        for={{or @id this.inputId}}
        class="cs-component-text-field--label {{if this.value "active"}} {{@theme}}"
        data-test-cs-component-label={{this.dataTestName}}
      >
        <span class="label">{{@label}}</span>
        {{#unless this.required}}
          <span class="optional">Optional</span>
        {{/unless}}
      </label>
    {{/if}}

    <div
      class="cs-input-group--validation {{if this.invalid "invalid"}} {{if @theme (concat "cs-validation--" @theme)}}"
      data-test-cs-component-validation={{this.dataTestName}}
    >
      {{this.validationMessage}}
    </div>
  {{/if}}
</div>