<div class="cs-component-text-area" data-test-cs-component={{this.dataTestName}}>
  {{#if (eq @mode "view")}}
    <TextView @showLabelInViewMode={{@showLabelInViewMode}} @label={{@label}} @value={{@value}} />
  {{else}}
    <div class="cs-component-text-area--container {{@theme}}">
      {{textarea
        rows=this.rows
        name=@name
        value=this.value
        class=(concat "cs-component-text-field--input cs-component-text-area--input " (if this.value "active ") @theme)
        id=this.inputId
        required=this.required
        disabled=this.disabled
        maxlength=@characterLimit
        readonly=@readonly
        autofocus=@autofocus
        focusOut=(action "handleInput")
        change=(action "handleInput")
      }}

      {{#if @characterLimit}}
        <span class="cs-component-text-area--char-counter {{if this.validationMessage "with-validation"}}" data-test-cs-component-text-area-char-counter>
          {{this.value.length}}/{{@characterLimit}}
        </span>
      {{/if}}

      <label
        for={{this.inputId}}
        class="cs-component-text-field--label cs-component-text-area--label {{if this.value "active"}} {{@theme}}"
        data-test-cs-component-text-area-label
      >
        <span class="label">{{@label}}</span>
        {{#unless this.required}}
          <span class="optional">Optional</span>
        {{/unless}}
      </label>
    </div>

    <div
      class="cs-component-text-field--validation cs-component-text-area--validation {{if (not this.validationMessage) "hidden"}} {{if this.invalid "invalid"}} {{@theme}}"
      data-test-cs-component-text-area-validation
    >
      {{this.validationMessage}}
    </div>
  {{/if}}
</div>