<div
  class="
    cs-component-text-area
    {{if @theme (concat "cs-input-group--" @theme) "cs-input-group"}}
    {{if @required "required"}}
  "
  data-test-cs-component={{this.dataTestName}}
>
  {{#if (eq @mode "view")}}
    <TextView @showLabelInViewMode={{@showLabelInViewMode}} @label={{@label}} @value={{@value}} />
  {{else}}
    {{#unless @animatedLabel}}
      <label
        for={{this.inputId}}
        class="cs-input-group--label {{if @theme (concat "cs-label--" @theme)}}"
        data-test-cs-component-text-area-label
      >
        {{@label}}
      </label>
    {{/unless}}

    <Textarea
      @rows={{this.rows}}
      @name={{@name}}
      @value={{this.value}}
      @class="
        {{if @theme (concat "cs-input--" @theme) "cs-input"}}
        {{if @disabled "disabled"}}
        {{@mode}}
      "
      @id={{this.inputId}}
      @required={{this.required}}
      @disabled={{this.disabled}}
      @maxlength={{@characterLimit}}
      @readonly={{@readonly}}
      @autofocus={{@autofocus}}
      @focusOut={{action "handleInput"}}
      @change={{action "handleInput"}}
      data-test-cs-component-input="text-area"
    />

    {{#if @characterLimit}}
      <span class="cs-component-text-area--char-counter {{if this.validationMessage "with-validation"}}" data-test-cs-component-text-area-char-counter>
        {{this.value.length}}/{{@characterLimit}}
      </span>
    {{/if}}

    <div
      class="
        {{if @theme (concat "cs-validation--" @theme) "cs-input-group--validation"}}
        {{if this.invalid "invalid"}}
      "
      data-test-cs-component-text-area-validation
    >
      {{this.validationMessage}}
    </div>
  {{/if}}
</div>