<div
  class="
    cs-input-group cs-textarea
    {{if @theme (concat @theme "-input-group") "cs-component-input-group"}}
    {{if @required "required"}}
    {{@className}}
    {{@mode}}
  "
  data-test-cs-component={{this.dataTestName}}
>
  {{#if (eq @mode "view")}}
    <TextView @showLabelInViewMode={{@showLabelInViewMode}} @label={{@label}} @value={{@value}} />
  {{else}}
    <label
      for={{or @id this.inputId}}
      class="cs-input-group--label"
      data-test-cs-component-label={{this.dataTestName}}
    >
      {{@label}}
    </label>
    {{#if @required}}
      <span class="cs-input-group--required">required</span>
    {{/if}}

    <Textarea
      @id={{or @id this.inputId}}
      @rows={{this.rows}}
      @name={{@name}}
      @value={{this.value}}
      @title={{@title}}
      @class="cs-input
        {{if @theme (concat @theme "-input") "cs-component-input"}}
        {{if this.invalid "invalid"}}
        {{if @disabled "disabled"}}
        {{@mode}}
      "
      @change={{action "handleInput"}}
      @required={{this.required}}
      @disabled={{or (eq @mode "schema") this.disabled}}
      @autofocus={{@autofocus}}
      @maxlength={{@characterLimit}}
      @placeholder={{@placeholder}}
      @readonly={{@readonly}}
      data-test-cs-component-input={{this.dataTestName}}
      ...attributes
    />

    {{#if @characterLimit}}
      <span
        class="cs-textarea--char-counter {{if this.validationMessage "with-validation"}}"
        data-test-cs-textarea-char-counter
      >
        {{this.value.length}}/{{@characterLimit}}
      </span>
    {{/if}}

    <div
      class="cs-input-group--helper-text {{if this.invalid "invalid"}}"
      data-test-cs-component-validation={{this.dataTestName}}
    >
      {{or this.validationMessage @helperText}}
    </div>
  {{/if}}
</div>