<span><img src={{@option.imageUrl}} alt="card"></span>
<span class="caps">{{@option.cardType}}</span>
<span class="lightweight">{{@option.transactionId}}</span>
<span class="lightweight caps">{{@option.network}}</span>
<span class="lightweight">{{@option.fromValue}}</span>
<span class="lightweight">{{@option.toValue}}</span>