<section class="ui-components-example-group">
  <h2 class="ui-components-example-group--title">Cardstack Registration</h2>

  <div class="ui-components-example-group--prompt">
    <h3>Enter your email and choose a password</h3>
  </div>

  <div class="ui-components-example-form registration">
    <Email @label="Email" @required={{true}} @value={{emailValue}} @invalid={{isEmailInvalid}}/>
    <PasswordField @required={{true}} @value={{passwordValue}} @invalid={{isPasswordInvalid}} />
    <Checkbox @label="I accept the Cardstack Terms &amp; Conditions" @required={{true}} @checked={{isCheckboxChecked}} />
    <Cta @disabled={{isSubmitDisabled}}>Submit</Cta>
  </div>
</section>
