<section class="example-group">
  <h2 class="example-group--title">Cardstack Registration</h2>

  <div class="example-group--prompt">
    <h3>Enter your email and choose a password</h3>
  </div>

  <div class="example-form">
    <Email @label="Email" @required={{true}} @value={{this.emailValue}} @invalid={{this.isEmailInvalid}}/>
    <PasswordField @required={{true}} @value={{this.passwordValue}} @invalid={{this.isPasswordInvalid}} />
    <Checkbox @label="I accept the Cardstack Terms &amp; Conditions" @required={{true}} @checked={{this.isCheckboxChecked}} />
    <Cta @disabled={{this.isSubmitDisabled}}>Submit</Cta>
  </div>
</section>
