<button
  class="cs-component-cta cs-component-cta--{{variant}} {{@theme}} {{if isLoading "loading"}}"
  disabled={{disabled}}
  onclick={{action handleClick}}
  data-test-cs-component-cta={{variant}}
  ...attributes
>
  {{#if isLoading}}
    <div class="loading">Loading...</div>
  {{/if}}
  <span class="button-text">
    {{#if @label}}
      {{@label}}
    {{else}}
      {{yield}}
    {{/if}}
  </span>
</button>