{{#if hasBlock}}
  <button
    class="cs-component-cta cs-component-cta--{{variant}} {{@theme}}"
    disabled={{disabled}}
    onclick={{action handleClick}}
    data-test-cs-component-cta={{variant}}
  >
    {{yield}}
  </button>
{{else}}
  <button
    class="cs-component-cta cs-component-cta--{{variant}} {{@theme}}"
    disabled={{disabled}}
    onclick={{action handleClick}}
    data-test-cs-component-cta={{variant}}
  >
    {{@label}}
  </button>
{{/if}}