<PowerDatepicker
  @renderInPlace="true"
  @selected={{selected}}
  @onSelect={{action (mut selected) value="date"}}
  @center={{center}}
  @onCenterChange={{action (mut center) value="date"}} as |calendar|>
  {{#calendar.trigger tabindex="-1"}}
    {{#if label}}
      <label for="{{elementId}}-date-input">{{label}}</label>
    {{/if}}
    {{!-- User can pick a date from the calendar view or type it in.
          Calendar view is closed when input is manually being typed in. --}}
    <input
      type="text"
      id="{{elementId}}-date-input"
      class="cs-component-date--input"
      value={{if selected (moment-format selected "MM-DD-YYYY")}}
      oninput={{action calendar.actions.close}}
      onchange={{action "changeSelected"}}
      placeholder={{placeholder}}
      autocomplete="off"
      aria-label="Date">
  {{/calendar.trigger}}

  {{#calendar.content class="cs-component-calendar"}}
    {{!-- Navigation arrows allow scrolling by month and year.
          User can also use the dropdown to pick month and year. --}}
    <nav class="cs-component-calendar--nav ember-power-calendar-nav">
      <button
        class="ember-power-calendar-nav-control"
        onclick={{action calendar.actions.moveCenter -12 "month"}}
        data-test-nav-arrow="year-backwards">
        «
      </button>
      <button
        class="ember-power-calendar-nav-control"
        onclick={{action calendar.actions.moveCenter -1 "month"}}
        data-test-nav-arrow="month-backwards">
        ‹
      </button>

      <div class="cs-component-calendar--nav-title ember-power-calendar-nav-title">
        <div id="{{elementId}}-months-nav" class="cs-component-calendar--nav-dropdown" data-test-cs-component-calendar-nav-months>
          <PowerSelect
            @options={{months}}
            @selected={{moment-format calendar.center "MMMM"}}
            @onchange={{action "changeCenter" "month" calendar}} as |month|>
            {{month}}
          </PowerSelect>
        </div>
        <div id="{{elementId}}-years-nav" class="cs-component-calendar--nav-dropdown" data-test-cs-component-calendar-nav-years>
          <PowerSelect
            @options={{years}}
            @selected={{moment-format calendar.center "YYYY"}}
            @onchange={{action "changeCenter" "year" calendar}} as |year|>
            {{year}}
          </PowerSelect>
        </div>
      </div>

      <button
        class="ember-power-calendar-nav-control"
        onclick={{action calendar.actions.moveCenter 1 "month"}}
        data-test-nav-arrow="month-forwards">
        ›
      </button>
      <button
        class="ember-power-calendar-nav-control"
        onclick={{action calendar.actions.moveCenter 12 "month"}}
        data-test-nav-arrow="year-forwards">
        »
      </button>
    </nav>
    {{calendar.days}}
  {{/calendar.content}}
</PowerDatepicker>