<div
  class="{{if multiple "cs-component-dropdown--multiple" "cs-component-dropdown"}} {{if (has-block) 'cs-component-dropdown--with-customized-options'}} {{if isOpen "is-open"}} {{@theme}}"
  data-test-cs-component={{dataTestName}}
>
  <div class="cs-component-dropdown__container">
    {{#if searchAction}}
      {{#if multiple}}
        {{#power-select-multiple
          options=options
          onchange=(action changeAction)
          selected=selected
          search=(action searchAction)
          searchField=searchField
          triggerRole="none"
          allowClear=true
          renderInPlace=true
          ariaLabel=label
          onopen=(action (mut isOpen) true)
          onclose=(action (mut isOpen) false)
          triggerId=(concat elementId "-dropdown") as |option|}}
          {{get option searchField}}
        {{/power-select-multiple}}
      {{else}}
        {{#power-select
          options=options
          onchange=(action changeAction)
          selected=selected
          search=(action searchAction)
          searchField=searchField
          triggerRole="none"
          allowClear=true
          renderInPlace=true
          ariaLabel=label
          onopen=(action (mut isOpen) true)
          onclose=(action (mut isOpen) false)
          triggerId=(concat elementId "-dropdown") as |option|}}
          {{get option searchField}}
        {{/power-select}}
      {{/if}}
    {{else}}
      {{#if multiple}}
        {{#power-select-multiple
          options=options
          onchange=(action changeAction)
          selected=selected
          searchField=searchField
          triggerRole="none"
          allowClear=true
          renderInPlace=true
          ariaLabel=label
          onopen=(action (mut isOpen) true)
          onclose=(action (mut isOpen) false)
          triggerId=(concat elementId "-dropdown") as |option|}}
          {{get option searchField}}
        {{/power-select-multiple}}
      {{else}}
        {{#power-select
          options=options
          onchange=(action changeAction)
          selected=selected
          searchField=searchField
          triggerRole="none"
          allowClear=true
          renderInPlace=true
          ariaLabel=label
          onopen=(action (mut isOpen) true)
          onclose=(action (mut isOpen) false)
          triggerId=(concat elementId "-dropdown") as |option|}}
          {{#if (has-block)}}
            {{yield option}}
          {{else}}
            {{get option searchField}}
          {{/if}}
        {{/power-select}}
      {{/if}}
    {{/if}}
    <label
      for="{{elementId}}-dropdown"
      class="cs-component-dropdown--label {{if selected "with-option-selected"}} {{if isOpen "is-open"}} {{@theme}}"
      data-test-cs-component-label={{dataTestName}}
    >
      {{label}}
    </label>
  </div>
</div>