<div class="cs-component-dropdown__container">
  {{#if searchAction}}
    {{#if multiple}}
      {{#power-select-multiple
        options=options
        onchange=(action (mut selected))
        selected=selected
        search=(action searchAction)
        searchField=searchField
        triggerRole="none"
        allowClear=true
        renderInPlace=true
        ariaLabel=label
        onopen=(action (mut isOpen) true)
        onclose=(action (mut isOpen) false)
        id=(concat elementId "-dropdown")
        as |option|}}
        {{get option searchField}}
      {{/power-select-multiple}}
    {{else}}
      {{#power-select
        options=options
        onchange=(action (mut selected))
        selected=selected
        search=(action searchAction)
        searchField=searchField
        triggerRole="none"
        allowClear=true
        renderInPlace=true
        ariaLabel=label
        onopen=(action (mut isOpen) true)
        onclose=(action (mut isOpen) false)
        id=(concat elementId "-dropdown")
        as |option|}}
        {{get option searchField}}
      {{/power-select}}
    {{/if}}
  {{else}}
    {{#if multiple}}
      {{#power-select-multiple
        options=options
        onchange=(action (mut selected))
        selected=selected
        searchField=searchField
        triggerRole="none"
        allowClear=true
        renderInPlace=true
        ariaLabel=label
        onopen=(action (mut isOpen) true)
        onclose=(action (mut isOpen) false)
        id=(concat elementId "-dropdown")
        as |option|}}
        {{get option searchField}}
      {{/power-select-multiple}}
    {{else}}
      {{#power-select
        options=options
        onchange=(action (mut selected))
        selected=selected
        searchField=searchField
        triggerRole="none"
        allowClear=true
        renderInPlace=true
        ariaLabel=label
        onopen=(action (mut isOpen) true)
        onclose=(action (mut isOpen) false)
        id=(concat elementId "-dropdown")
        as |option|}}
        {{get option searchField}}
      {{/power-select}}
    {{/if}}
  {{/if}}
  <label class="cs-component-dropdown--label {{if selected "with-option-selected"}}" for={{concat elementId "-dropdown"}}>{{label}}</label>
</div>