{{#unless @required}}
  <span class="cs-component-email--optional" data-test-cs-component-email-optional>
    Optional
  </span>
{{/unless}}
<input
  type="email"
  name="email"
  id="{{this.elementId}}-input"
  class="cs-component-email--input {{if @required "required"}}"
  required={{@required}}
  autocomplete="off"
  onchange={{action handleInput}}
>
<label
  for="{{this.elementId}}-input"
  class="cs-component-email--label {{if this.value "active"}}"
>
  <span>{{@label}}</span>
</label>

<div
  class="cs-component-email--validation {{if (not this.validationMessage) "hidden"}} {{if invalid "invalid"}}"
  data-test-cs-component-email-validation
>
  {{this.validationMessage}}
</div>