{{#if (eq mode "view")}}
  {{#if showLabelInViewMode}}
    <div data-test-cs-component-view-label>{{label}}</div>
  {{/if}}
  <div data-test-cs-component-view-field-value class="cs-component-text-field--view-value">{{selected}}</div>
{{else}}
  <div class="cs-component-street-address__container">
    <Dropdown
      @options={{predictions}}
      @searchAction={{action "requestPredictions"}}
      @searchField="description"
      @selected={{selected}}
      @changeAction={{action changeAction}}
      @label={{label}}
      @dataTestName="street-address"
      @theme={{@theme}}
    />
  </div>
{{/if}}