{{#if (eq mode "view")}}
  {{#if showLabelInViewMode}}
    <div data-test-cs-component-view-label>{{label}}</div>
  {{/if}}
  <div data-test-cs-component-view-field-value class="cs-component-text-field--view-value">{{value}}</div>
{{else}}
  <div class="cs-component-text-area--container {{@theme}}">
    {{textarea
      rows=rows
      name=name
      value=value
      class=(concat "cs-component-text-field--input cs-component-text-area--input " (if value "active ") @theme)
      id=inputId
      required=required
      disabled=disabled
      maxlength=characterLimit
      readonly=readonly
      autofocus=autofocus
      focusOut=(action "handleInput")
      change=(action "handleInput")
    }}

    {{#if characterLimit}}
      <span class="cs-component-text-area--char-counter {{if validationMessage "with-validation"}}" data-test-cs-component-text-area-char-counter>
        {{value.length}}/{{characterLimit}}
      </span>
    {{/if}}

    <label
      for={{inputId}}
      class="cs-component-text-field--label cs-component-text-area--label {{if value "active"}} {{@theme}}"
      data-test-cs-component-text-area-label
    >
      <span class="label">{{label}}</span>
      {{#unless required}}
        <span class="optional">Optional</span>
      {{/unless}}
    </label>
  </div>

  <div
    class="cs-component-text-field--validation cs-component-text-area--validation {{if (not validationMessage) "hidden"}} {{if invalid "invalid"}} {{@theme}}"
    data-test-cs-component-text-area-validation
  >
    {{validationMessage}}
  </div>
{{/if}}