{{#freestyle-guide title="Ember Freestyle" subtitle="Living Style Guide"}}

  {{!-- DROPDOWN --}}
  {{#freestyle-section name="dropdown"}}
    {{#freestyle-collection title="dropdown" defaultKey="default" inline=true as |collection|}}
      {{#collection.variant key="default"}}
        {{#freestyle-note "dropdown--notes"}}
          ```
          countries = [
            { name: 'United States' },
            { name: 'Spain' },
            { name: 'Portugal' },
            { name: 'Russia' },
            { name: 'Latvia' },
            { name: 'Brazil' },
            { name: 'United Kingdom' }
          ];
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown" title="Dropdown"}}
          <Dropdown @options={{countries}} @label="Select a country" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="custom-search-field"}}
        {{#freestyle-note "dropdown-custom-search-field--notes"}}
          ```
          countries = [
            { formalName: 'United States of America' },
            { formalName: 'Kingdom of Spain' },
            { formalName: 'Portuguese Republic' },
            { formalName: 'Russian Federation' },
            { formalName: 'Republic of Latvia' },
            { formalName: 'Federative Republic of Brazil' },
            { formalName: 'United Kingdom of Great Britain and Northern Ireland' }
          ];
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-custom-search-field" title="Dropdown with custom search field"}}
          <Dropdown @options={{countries}} @label="Select a country" @searchField="formalName" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-default-selected"}}
        {{#freestyle-note "dropdown-with-default-selected--notes"}}
          ```
          export default Component.extend({
            // ...
            selected: { name: "Spain" }
          });
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-with-default-selected" title="Dropdown with default selected"}}
          <Dropdown @options={{countries}} @label="Select a country" @selected={{selected}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-custom-search-action"}}
        {{#freestyle-note "dropdown-with-custom-search-action--notes"}}
          ```
          countries = [
            { name: 'United States' },
            { name: 'Spain' },
            { name: 'Portugal' },
            { name: 'Russia' },
            { name: 'Latvia' },
            { name: 'Brazil' },
            { name: 'United Kingdom' }
          ];

          searchByLengthOfCountryName = async num => {
            return Promise.resolve(countries.filter(item => {
              return item.name.length === parseInt(num);
            }));
          };
          ```
          `@searchAction` must be an `async` function that returns an array of items.
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-with-custom-search-action" title="Dropdown with custom search action"}}
          <Dropdown @searchAction={{action searchByLengthOfCountryName}} @label="Enter number of letters" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="multi-select"}}
        {{#freestyle-usage "dropdown-multiple" title="Multiple Select Dropdown"}}
          <Dropdown @options={{countries}} @label="Select a country" @multiple={{true}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "dropdown-themed" title="Themed"}}
          <Dropdown @options={{countries}} @label="Select a country" @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "dropdown-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <ol>
            <li>Define a new CSS class on your stylesheet.</li>
            <li>Change the values set to available CSS variables (see list below).</li>
            <li>Pass the CSS class name to the <code>@theme</code> attribute on your <code>Dropdown</code> component.</li>
            <li>More specific CSS changes can be made using <code>ember-power-select</code> classes nested inside your theme class.</li>
          </ol>
          <p>To change label styles while the dropdown menu is open or an option is selected, use <code>is-open</code> and <code>with-option-selected</code> classes along with your theme class, respectively.</p>
          <h2>Supported CSS variables</h2>
          <pre>
            <code>
              <b>Font properties:</b>
              --cs-dropdown-color
              --cs-dropdown-label-color
              --cs-dropdown-label-font-size
              --cs-dropdown-label-font-weight

              <b>Background properties:</b>
              --cs-dropdown-background-color
              --cs-dropdown-background-hover
              --cs-dropdown-current-option

              <b>Border properties:</b>
              --cs-dropdown-border-radius

              <b>Other:</b>
              --cs-dropdown-label-text-transform
            </code>
          </pre>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- CTA --}}
  {{#freestyle-section name="cta"}}
    {{#freestyle-collection title="CTA" defaultKey="primary" inline=true as |collection|}}
      {{#collection.variant key="primary"}}
        {{#freestyle-usage "primary-cta" title="Primary CTA"}}
          <Cta>Primary Call to Action</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#freestyle-note "primary-cta--notes"}}
        By default, `Cta` will render a primary type
      {{/freestyle-note}}
      {{#collection.variant key="secondary"}}
        {{#freestyle-usage "secondary-cta" title="Secondary CTA"}}
          <Cta @variant="secondary">Secondary Call to Action</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="without-block"}}
        {{#freestyle-usage "cta" title="Primary CTA without block"}}
          <Cta @label="Hello" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="disabled"}}
        {{#freestyle-usage "disabled-cta" title="Disabled CTA" inline=true}}
          <Cta @disabled="true">Disabled</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="secondary-disabled"}}
        {{#freestyle-usage "secondary-disabled-cta" title="Secondary Disabled CTA" inline=true}}
          <Cta @variant="secondary" @disabled="true">Secondary Disabled</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "primary-cta-themed" title="Themed Primary CTA" inline=true}}
          <Cta @variant="primary" @theme="cs-theme">Button</Cta>
        {{/freestyle-usage}}
        {{#freestyle-usage "secondary-cta-themed" title="Themed Secondary CTA" inline=true}}
          <Cta @variant="secondary" @theme="cs-theme">Button</Cta>
        {{/freestyle-usage}}
        {{#freestyle-note "primary-cta-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <ol>
            <li>Define a new CSS class on your stylesheet.</li>
            <li>Change the values set to available CSS variables (see list below).</li>
            <li>Pass the CSS class name to the <code>@theme</code> attribute on the component.</li>
          </ol>
          <h2>Supported CSS variables</h2>
          <pre>
            <code>
              --cs-cta-padding
              --cs-cta-font-size

              <b>Main colors (most prominent color):</b>
              --cs-cta-main
              --cs-cta-active
              --cs-cta-disabled

              <b>Secondary-level colors:</b>
              --cs-cta-light
              --cs-cta-disabled-light

              <b>Border properties:</b>
              --cs-cta-border
              --cs-cta-border-radius
            </code>
          </pre>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- TEXT FIELD --}}
  {{#freestyle-section name="TextField"}}
    {{#freestyle-collection title="TextField" defaultKey="default" inline=true as |collection|}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "text-field-default" title="Default"}}
          <TextField @label="What's your name?" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="required"}}
        {{#freestyle-usage "text-field-required" title="Required"}}
          <TextField @label="What's your name?" @required={{true}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "text-field-themed" title="Themed"}}
          <TextField @label="What's your name?" @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "text-field-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <ol>
            <li>Define a new CSS class on your stylesheet.</li>
            <li>Change the values set to available CSS variables (see list below).</li>
            <li>Pass the CSS class name to the <code>@theme</code> attribute on the component.</li>
          </ol>

          <h2>Supported CSS variables</h2>
          <pre>
            <code>
              <b>Font properties:</b>
              --cs-text-field-font-size
              --cs-text-field-label-font-size
              --cs-text-field-label-font-weight
              --cs-text-field-color
              --cs-text-field-label-color
              --cs-text-field-label-optional

              <b>Background properties:</b>
              --cs-text-field-background-color

              <b>Border properties:</b>
              --cs-text-field-border-radius

              <b>Other:</b>
              --cs-text-field-label-text-transform
            </code>
          </pre>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- PHONE NUMBER --}}
  {{#freestyle-section name="Phone Number Field"}}
    {{#freestyle-usage "phone-number-field-default" title="Phone Number Field"}}
      <PhoneNumberField />
    {{/freestyle-usage}}
    {{#freestyle-usage "phone-number-themed" title="Themed"}}
      <PhoneNumberField @theme="cs-theme" />
    {{/freestyle-usage}}
    {{#freestyle-note "phone-number-themed--notes"}}
      <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
      <p>Available themes: <code>cs-theme</code></p>
    {{/freestyle-note}}
    {{#freestyle-annotation}}
      <h2>How to Create a Theme for This Component</h2>
      <p>This component extends the <code>TextField</code> component. See instructions under the <i>Themed</i> tab on that component's page.</p>
    {{/freestyle-annotation}}
  {{/freestyle-section}}


  {{!-- TEXTAREA --}}
  {{#freestyle-section name="Text Area"}}
    {{#freestyle-collection title="TextArea" defaultKey="default" inline=true as |collection|}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "text-area-default" title="Text Area"}}
          <TextArea @label="What's on your mind?" @rows={{5}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-max-length"}}
        {{#freestyle-usage "text-area-with-max-length" title="Text Area with Max Length"}}
          <TextArea @label="What's on your mind?" @rows={{5}} @characterLimit={{20}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "text-area-themed" title="Themed"}}
          <TextArea @label="What's on your mind?" @rows={{5}} @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "text-area-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <p>This component extends the <code>TextField</code> component. See instructions under the <i>Themed</i> tab on that component's page.</p>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- PASSWORD --}}
  {{#freestyle-section name="Password Field"}}
    {{#freestyle-collection title="password" defaultKey="default" inline=true as |collection|}}
      {{#freestyle-annotation}}
        <code>PasswordField</code> can take in a few options that enforce security requirements
        <ul>
          <li><code>minLength</code> - (integer) minimum characters</li>
          <li><code>mustIncludeUppercase</code> - (boolean) must include at least one uppercase character</li>
          <li><code>mustIncludeLowercase</code> - (boolean) must include at least one lowercase character</li>
          <li><code>mustIncludeNumber</code> - (boolean) must include at least one number</li>
          <li><code>mustIncludeSpecialCharacter</code> - (boolean) must include at least one special character</li>
          <li><code>successMessage</code> - (string) message to display when the password is valid</li>
        </ul>
      {{/freestyle-annotation}}
      {{#freestyle-note "password-field-default--notes"}}
        By default, `PasswordField` will render without any of the password requirements except for needing a minimum length of 6.
      {{/freestyle-note}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "password-field-default" title="Password Field"}}
          <PasswordField />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-requirements"}}
        {{#freestyle-usage "password-field-with-requirements" title="Password Field with requirements"}}
          <PasswordField
            @minLength={{8}}
            @mustIncludeUppercase={{true}}
            @mustIncludeLowercase={{true}}
            @mustIncludeNumber={{true}}
            @mustIncludeSpecialCharacter={{true}}
            @successMessage="Nice password ;-)"
          />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="custom-validator"}}
        {{#freestyle-note "password-field-with-custom-validator--notes"}}
          You can define a custom function to validate the password and pass a custom validation message.
          ```
            validator(value) {
              return {
                valid: value === 'cardstack',
                message: 'Password must be "cardstack"'
              };
            }
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "password-field-with-custom-validator" title="Password Field with custom validator function"}}
          <PasswordField @validate={{validator}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "password-field-themed" title="Themed"}}
          <PasswordField @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "password-field-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <p>This component extends the <code>TextField</code> component. See instructions under the <i>Themed</i> tab on that component's page.</p>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- CHOOSE ITEMS --}}
  {{#freestyle-section name="Choose Items"}}
    {{#freestyle-usage "choose-one" title="Choose One (Text)"}}
      <ChooseOne @legend="What is your Favorite Color?" @choices={{selectItemOptions}} @selectionChanged={{action doSomething}} />
    {{/freestyle-usage}}
    {{#freestyle-note "text-choose-one--notes"}}
      Takes an array of primitives or objects, an optional `label`, and an optional action to be called when selecting an item.
    {{/freestyle-note}}
    {{#freestyle-usage "choose-many" title="Choose Many (Text)"}}
      <ChooseMany @legend="What combination makes Purple?" @choices={{selectItemOptions}} @selectionChanged={{action doSomething}} />
    {{/freestyle-usage}}
    {{#freestyle-note "text-choose-many--notes"}}
      Takes an array of primitives or objects, an optional `label`, and an optional action to be called when selecting an item.
    {{/freestyle-note}}
    {{!-- TODO: Themed version --}}
  {{/freestyle-section}}

  {{#freestyle-section name="Choose Contact Type"}}
    {{#freestyle-usage "choose-contact-type" title="Choose Contact Type"}}
      <ChooseContactType @selectionChanged={{action doSomething}} />
    {{/freestyle-usage}}
  {{/freestyle-section}}

  {{!-- EMAIL --}}
  {{#freestyle-section name="Email Input"}}
    {{#freestyle-collection title="email" defaultKey="default" inline=true as |collection|}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "email-input-default" title="Default"}}
          <Email @label="Email Address" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="required"}}
        {{#freestyle-usage "email-input-required" title="Required"}}
          <Email @label="Email Address" @required={{true}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "email-input-themed" title="Themed"}}
          <Email @label="Email Address" @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "email-input-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <p>This component extends the <code>TextField</code> component. See instructions under the <i>Themed</i> tab on that component's page.</p>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- CHECKBOX --}}
  {{#freestyle-section name="Checkbox (boolean)"}}
    {{#freestyle-usage "checkbox-default" title="Default (Optional)"}}
      <Checkbox @label="Include a free gift in my order" />
    {{/freestyle-usage}}
    {{#freestyle-usage "checkbox-required" title="Required"}}
      <Checkbox @label="I accept the Cardstack Terms of Service" @required={{true}} />
    {{/freestyle-usage}}
    {{#freestyle-usage "checkbox-default-checked" title="Default Checked"}}
      <Checkbox @label="I would like to subscribe to your newsletter" @checked={{true}} />
    {{/freestyle-usage}}
    {{!-- TODO: Themed version --}}
  {{/freestyle-section}}


  {{!-- STREET ADDRESS --}}
  {{#freestyle-section name="Street Address"}}
    {{#freestyle-collection title="street-address" defaultKey="default" inline=true as |collection|}}
      {{#freestyle-note "street-address--notes"}}
        Uses the Google Places API to search for addresses. A Google Maps API_KEY must be provided with Google Places API
        enabled. Takes an optional `label` property (defaults to "Enter a street address").
      {{/freestyle-note}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "street-address" title="Street Address"}}
          <StreetAddress @label="Enter your address"/>
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "street-address-themed" title="Themed"}}
          <StreetAddress @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "street-address-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <p>This component extends the <code>TextField</code> component. See instructions under the <i>Themed</i> tab on that component's page.</p>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}


  {{!-- DATE PICKER --}}
  {{#freestyle-section name="date-picker"}}
    {{#freestyle-collection title="date picker" defaultKey="default" inline=true as |collection|}}
      {{#freestyle-annotation}}
        <p>Allows user to select a date from calendar view or enter their own input. User can navigate the calendar using arrows or the month and year dropdowns.</p>
        Default validation for date input:
        <ul>
          <li>Valid for years as of 1900.</li>
          <li>Accounts for leap years.</li>
        </ul>
        <p>Default year range offered in the dropdown is from 1920 to 2070. However, this can be changed using <code>startYear</code> and <code>yearRange</code> attributes.</p>
      {{/freestyle-annotation}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "date-picker-optional" title="Default"}}
          <DatePicker @label="Date (MM/DD/YYYY)" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="required"}}
        {{#freestyle-usage "date-picker-required" title="Required"}}
          <DatePicker @label="Date (MM/DD/YYYY)" @required="true" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="custom-years"}}
        {{#freestyle-note "date-picker-custom-years--notes"}}
          Using `startYear` and `yearRange` attributes to change the dropdown year range.
        {{/freestyle-note}}
        {{#freestyle-usage "date-picker-custom-years" title="Custom Years"}}
          <DatePicker @label="Date (MM/DD/YYYY)" @startYear="1980" @yearRange="50" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="themed"}}
        {{#freestyle-usage "date-picker-themed" title="Themed"}}
          <DatePicker @label="Date (MM/DD/YYYY)" @theme="cs-theme" />
        {{/freestyle-usage}}
        {{#freestyle-note "date-picker-themed--notes"}}
          <p>Pass a pre-defined theme name to the <code>@theme</code> attribute on your component.</p>
          <p>Available themes: <code>cs-theme</code></p>
        {{/freestyle-note}}
        {{#freestyle-annotation}}
          <h2>How to Create a Theme for This Component</h2>
          <ol>
            <li>Define a new CSS class on your stylesheet.</li>
            <li>Change the values set to available CSS variables (see list below).</li>
            <li>The input and dropdown fields of this component extend the styles of the <code>TextField</code> and <code>Dropdown</code> component. See the instructions on those components' <i>Themed</i> pages.</li>
            <li>Pass the CSS class name to the <code>@theme</code> attribute on the component.</li>
          </ol>
          <h2>Supported CSS variables</h2>
          <ul>
            <li><code>--cs-date-background-color</code></li>
            <li><code>--cs-date-color</code></li>
            <li><code>--cs-date-font-weight</code></li>
          </ul>
        {{/freestyle-annotation}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}
{{/freestyle-guide}}