{{#freestyle-guide
  title="Ember Freestyle"
  subtitle="Living Style Guide"
  }}

  {{#freestyle-section name="dropdown"}}
    {{#freestyle-collection title="dropdown" defaultKey="default" inline=true as |collection|}}
      {{#collection.variant key="default"}}
        {{#freestyle-note "dropdown--notes"}}
          ```
          countries = [
            { name: 'United States' },
            { name: 'Spain' },
            { name: 'Portugal' },
            { name: 'Russia' },
            { name: 'Latvia' },
            { name: 'Brazil' },
            { name: 'United Kingdom' }
          ];
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown" title="Dropdown"}}
          <Dropdown @options={{countries}} @label="Select a country" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="custom-search-field"}}
        {{#freestyle-note "dropdown-custom-search-field--notes"}}
          ```
          countries = [
            { formalName: 'United States of America' },
            { formalName: 'Kingdom of Spain' },
            { formalName: 'Portuguese Republic' },
            { formalName: 'Russian Federation' },
            { formalName: 'Republic of Latvia' },
            { formalName: 'Federative Republic of Brazil' },
            { formalName: 'United Kingdom of Great Britain and Northern Ireland' }
          ];
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-custom-search-field" title="Dropdown with custom search field"}}
          <Dropdown @options={{countries}} @label="Select a country" @searchField="formalName" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-default-selected"}}
        {{#freestyle-note "dropdown-with-default-selected--notes"}}
          ```
          export default Component.extend({
            // ...
            selected: { name: "Spain" }
          });
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-with-default-selected" title="Dropdown with default selected"}}
          <Dropdown @options={{countries}} @label="Select a country" @selected={{selected}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-custom-search-action"}}
        {{#freestyle-note "dropdown-with-custom-search-action--notes"}}
          ```
          countries = [
            { name: 'United States' },
            { name: 'Spain' },
            { name: 'Portugal' },
            { name: 'Russia' },
            { name: 'Latvia' },
            { name: 'Brazil' },
            { name: 'United Kingdom' }
          ];

          searchByLengthOfCountryName = async num => {
            return Promise.resolve(countries.filter(item => {
              return item.name.length === parseInt(num);
            }));
          };
          ```
          `@searchAction` must be an `async` function that returns an array of items.
        {{/freestyle-note}}
        {{#freestyle-usage "dropdown-with-custom-search-action" title="Dropdown with custom search action"}}
          <Dropdown @searchAction={{action searchByLengthOfCountryName}} @label="Enter number of letters" />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="multi-select"}}
        {{#freestyle-usage "dropdown-multiple" title="Multiple Select Dropdown"}}
          <Dropdown @options={{countries}} @label="Select a country" @multiple={{true}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}

  {{#freestyle-section name="CTA"}}
    {{#freestyle-collection title="CTA" defaultKey="primary" inline=true as |collection|}}
      {{#collection.variant key="primary"}}
        {{#freestyle-usage "primary-cta" title="Primary CTA"}}
          <Cta @type="primary">Primary Call to Action</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#freestyle-note "primary-cta--notes"}}
        By default, `Cta` will render a primary type
      {{/freestyle-note}}

      {{#collection.variant key="secondary"}}
        {{#freestyle-usage "secondary-cta" title="Secondary CTA"}}
          <Cta @type="secondary">Secondary Call to Action</Cta>
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}

  {{#freestyle-section name="TextField"}}
    {{#freestyle-collection title="TextField" defaultKey="optional" inline=true as |collection|}}
      {{#collection.variant key="optional"}}
        {{#freestyle-usage "text-field-optional" title="Optional Text Field"}}
          <TextField @label="What's your name?" />
        {{/freestyle-usage}}
      {{/collection.variant}}

      {{#collection.variant key="required"}}
        {{#freestyle-usage "text-field-required" title="Required Text Field"}}
          <TextField @label="What's your name?" @required={{true}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}

  {{#freestyle-section name="Phone Number Field"}}
    {{#freestyle-usage "phone-number-field-default" title="Phone Number Field"}}
      <PhoneNumberField />
    {{/freestyle-usage}}
  {{/freestyle-section}}

  {{#freestyle-section name="Password Field"}}
    {{#freestyle-collection title="password" defaultKey="default" inline=true as |collection|}}
      {{#freestyle-annotation}}
        <code>PasswordField</code> can take in a few options that enforce security requirements

        <ul>
          <li><code>minLength</code> - (integer) minimum characters</li>
          <li><code>mustIncludeUppercase</code> - (boolean) must include at least one uppercase character</li>
          <li><code>mustIncludeLowercase</code> - (boolean) must include at least one lowercase character</li>
          <li><code>mustIncludeNumber</code> - (boolean) must include at least one number</li>
          <li><code>mustIncludeSpecialCharacter</code> - (boolean) must include at least one special character</li>
          <li><code>successMessage</code> - (string) message to display when the password is valid</li>
        </ul>
      {{/freestyle-annotation}}
      {{#freestyle-note "password-field-default--notes"}}
        By default, `PasswordField` will render without any of the password requirements except for needing a minimum length of 6.
      {{/freestyle-note}}
      {{#collection.variant key="default"}}
        {{#freestyle-usage "password-field-default" title="Password Field"}}
          <PasswordField />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="with-requirements"}}
        {{#freestyle-usage "password-field-with-requirements" title="Password Field with requirements"}}
          <PasswordField
            @minLength={{8}}
            @mustIncludeUppercase={{true}}
            @mustIncludeLowercase={{true}}
            @mustIncludeNumber={{true}}
            @mustIncludeSpecialCharacter={{true}}
            @successMessage="Nice password ;-)"
          />
        {{/freestyle-usage}}
      {{/collection.variant}}
      {{#collection.variant key="custom-validator"}}
        {{#freestyle-note "password-field-with-custom-validator--notes"}}
          You can define a custom function to validate the password and pass a custom validation message.

          ```
            validator(value) {
              return {
                valid: value === 'cardstack',
                message: 'Password must be "cardstack"'
              };
            }
          ```
        {{/freestyle-note}}
        {{#freestyle-usage "password-field-with-custom-validator" title="Password Field with custom validator function"}}
          <PasswordField @validate={{validator}} />
        {{/freestyle-usage}}
      {{/collection.variant}}
    {{/freestyle-collection}}
  {{/freestyle-section}}

  {{#freestyle-section name="Choose Items"}}
    {{#freestyle-usage "choose-one" title="Choose One (Text)"}}
      <ChooseOne @legend="What is your Favorite Color?" @choices={{selectItemOptions}} @selectionChanged={{action doSomething}} />
    {{/freestyle-usage}}

    {{#freestyle-note "text-choose-one--notes"}}
      Takes an array of primitives or objects, an optional `label`, and an optional action to be called when selecting an item.
    {{/freestyle-note}}

    {{#freestyle-usage "choose-many" title="Choose Many (Text)"}}
      <ChooseMany @legend="What combination makes Purple?" @choices={{selectItemOptions}} @selectionChanged={{action doSomething}} />
    {{/freestyle-usage}}

    {{#freestyle-note "text-choose-many--notes"}}
      Takes an array of primitives or objects, an optional `label`, and an optional action to be called when selecting an item.
    {{/freestyle-note}}
  {{/freestyle-section}}

  {{#freestyle-section name="Email Input"}}
    {{#freestyle-usage "email-input-optional" title="Optional"}}
      <Email @label="Email Address" />
    {{/freestyle-usage}}

    {{#freestyle-usage "email-input-required" title="Required"}}
      <Email @label="Email Address" @required={{true}} />
    {{/freestyle-usage}}
  {{/freestyle-section}}

  {{#freestyle-section name="Street Address"}}
    {{#freestyle-usage "street-address" title="Street Address"}}
      <StreetAddress @label="Enter your address"/>
    {{/freestyle-usage}}

    {{#freestyle-note "street-address--notes"}}
      Uses the Google Places API to search for addresses. A Google Maps API_KEY must be provided with Google Places API enabled. Takes an optional `label` property (defaults to "Enter a street address").
    {{/freestyle-note}}
  {{/freestyle-section}}

{{/freestyle-guide}}
